<div class="container">
  <!-- Sección de lista de contactos -->
  <div class="contacts_section">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
      <div class="title">
        <span class="user-name">{{ datosPersona?.nombre }}</span>
        <img src="../../../assets/conoceme.png" class="whatsapp-icon">
      </div>

    </div>
    <ul class="contacts_list">
      <li *ngFor="let contact of contactsList"
          (click)="selectContact(contact)"
          [ngClass]="{'active': selectedContact?.id === contact.id}">
        <div class="avatar"></div>
        <div class="contact_info">
          <div class="contact_name">{{ contact.nombre }}</div>
          <div class="last_message">Último mensaje...</div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Sección del chat -->
  <div class="chat_section">
    <div class="chat_window" *ngIf="selectedContact">
      <div class="top_menu">
        <div class="title">
          {{ selectedContact.nombre }}
        </div>
      </div>
      <ul class="messages" #messagesContainer>
        <li class="message right" *ngFor="let item of messageList"
            [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}"><div class="message-content">
          <img *ngIf="item.message_side === 'receiver'" src="assets/burbuja-de-chat.png" alt="Avatar" class="message-icon-left" />
          <div class="text_wrapper">
            <div class="text">{{ item.message }}</div>
          </div>
          <img *ngIf="item.message_side === 'sender'" src="assets/burbuja-de-chat%20(1).png" alt="Avatar" class="message-icon-right" />
        </div>
        </li>
      </ul>
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
          <input class="message_input" placeholder="Message..." [(ngModel)]="messageInput"
                 (keyup.enter)="sendMessage()" />
        </div>
        <div class="btn btn-primary" (click)="sendMessage()">
          <div class="icon"></div>
          <div class="text">Send</div>
        </div>
      </div>
    </div>
    <div class="placeholder" *ngIf="!selectedContact">
      <img src="../../../assets/da12e972664b5b2b65f9abe38f1a6e9a.jpg" class="whatsapp-icon">
    </div>
  </div>
</div>
